extends layouts/main

block content
    .form-container
        form(action=routes.changePassword, method="post")
            input(type="text", placeholder="Current Password", name="current")
            input(type="text", placeholder="New Password", name="new")
            input(type="text", placeholder="Verify New Password", name="verify")
            input(type="submit", value="Change Password")