extends layouts/main

block content
    .form-container
        form(action=routes.deleteVideo, method="post")
            input(type="text", placeholder="Title", name="title")
            input(type="text", placeholder="Description", name="description")
            input(type="submit", value="Delete Video")